@import "logo";
@import "nav";
@import "slider";
@import "header__values";
@mixin centring{
  margin: 0 auto;
}
header{
  width: 100vw;
  max-width: $width;
  height: $header-height;
  @include centring;
  position: relative;
}
.header-top{
  z-index:1;
display:flex;
flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  min-height: 9.4%;
}


