@import "header__values";
.header-top__menu{
  display: flex;
  margin-left: -175px;
  .header-top__menu__navigation-icons{
    display: flex;
    margin-left: 30px;
    .header-top__menu__navigation-icons__icon{
      margin: 0 14px;
      &:hover{
        filter: invert(.5) sepia(1) saturate(0.9);  /* cool css filter magic to avoid big svg constructions and 'fill' */
        cursor: pointer;
      }
    }
  }
}
.menu__list{
  display: flex;
  flex-flow: row nowrap;
  .menu__list__link{
    list-style-type:none ;
    margin: 0 15px 0 15px;
    a{
      display: block;
      text-transform: capitalize;
      text-decoration: none;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    a:hover{
      color: #c7b299;
      cursor: pointer;
    }

  }
}