@import "header__values";
.header-top__menu{
  z-index:1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  .header-top__menu__navigation-icons{
    display: flex;
    margin-left: 2vw;
    .header-top__menu__navigation-icon-wrapper{
      text-decoration: none;
      display: block;
    }
    .header-top__menu__navigation-icons__icon{
      fill: #ffffff;
      margin: 0 1vw;
      &:hover{
        fill: $menu-hover-color;;
        cursor: pointer;
      }
    }
  }
}
.menu__list{
  display: flex;
  flex-flow: row wrap;
  .menu__list__link{
    list-style-type:none ;
    margin: 0 1vw 0 1vw;
    a{
      display: block;
      text-transform: capitalize;
      text-decoration: none;
      font-family: $Montserrat;
      font-size: 1.4vh;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    a:hover{
      color: $menu-hover-color;
      cursor: pointer;
    }

  }
}