body {
    min-width: 100vw;
    min-height: 100vh;
}body {
    background: #323355;
    z-index:1;
}
 main{
     display: flex;
     min-width: 100vw;
     min-height: 100vh;
background:  repeating-linear-gradient(to top, #2a2a2a, #2a2a2a 1px, transparent, transparent 2px ),
            repeating-linear-gradient(to right, transparent, transparent 1px, #323355, #323355 2px );
            background-blend-mode: color;
     z-index:2;
 }
 .stripes-bg{
     display: flex;
     min-width: 100vw;
     min-height: 100vh;
     background: repeating-linear-gradient(-45deg,#323355 , #323355 8px, #3d3d4e 8px, #3d3d4e 9px);
     position: fixed;
     opacity: 0.5;
     z-index:3;
 }
 .timeline{
     display: flex;
     margin: auto;
     width: 670px;
     height: 900px;
     z-index:5;
 }
 .vertical-line{
     border-left: 3px solid #5e607a;
     height: 100%;
     margin: auto;
     overflow: visible;
     position: relative;
     z-index:3;
 }
 /* Circles with year */
 .year{
     font-family: Helvetica, sans-serif;
     font-weight: bold;
     font-size:12px;
     color:#ffffff;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(to bottom, #737c9c, #6c7493, #646b8a, #5d6381, #565b78);
     -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
     -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
     box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
     border-radius: 50%;
     width: 50px;
     height:50px;
     right:-22.5px;
     z-index: 5;
 }
 .year-11{
     top: 48px;
 }
 .little-top{
     width: 16px;
     height:16px;
     top:173px;
     left:-9.6px;
 }
.year-06{
    top: 266px;
}
.year-04{
    top: 392px;
}
.little-lower{
    width: 16px;
    height:16px;
    top:513px;
    left:-9.6px;
}
.year-99{
    top: 603px;
}
.year-88{
    top: 711px;
}
.year-84{
    top: 814px;
}
.year-text{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size:12px;
    color:#ffffff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9780b6;
    min-width: 78px;
    min-height:35px;
    text-align: center;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5), inset 0px 1px 0 0 rgba(201, 207, 238, 0.25);
    text-transform: uppercase;
}
.text-right{
    left:50px;
}
.text-11{
    left: -230px;
    top:54px;
    min-width: 180px;
    background: #a9608d;
}
p{
    padding: 0 10px;
}
.text-11::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #a9608d;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:180px;
}
.text-little-top{
    top:147px;
    min-height: 65px;
    min-width: 181px;
    background: #749bc3;
}
.text-little-top::before{

    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #749bc3 transparent transparent;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:-10px;
}
.text-06{
    top:272px;
    min-width: 104px;
    left: -155px;
}
.text-06::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #9780b6;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:104px;
}
.text-04{
    top:398px;
    background: #7f9975;
}
.text-04::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #7f9975 transparent transparent;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:-10px;
}
.text-little-lower{
    top:503px;
    left: -170px;
    min-width: 120px;
    background: #ce3434;
}
.text-little-lower::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ce3434;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:120px;
}
.text-99{
    top:610px;
    min-width: 100px;
    background: #3b9a9e;
}
.text-99::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #3b9a9e transparent transparent;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:-10px;
}
.text-88{
    top:717px;
    min-width: 106px;
    left: -155px;
}
.text-88::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #9780b6;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:106px;
}
.text-84{
    background: #6b7392;
    top:821px;
    min-width: 170px;
}
.text-84::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #69718f transparent transparent;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left:-10px;
}