@import 'main__values';
.advertisement{
  @include default-block;
  min-height:150px;
  flex-flow: row nowrap;
  justify-content: space-around;
 @include gradient-bg-default;
  .wordpress-ad{
    min-width: 530px;
    text-align: left;
    .wordpress-ad__header{
      text-transform: capitalize;
      font-family: $Raleway;
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      span{
        color: #c7b299;
      }
    }
    .wordpress-ad__text{
      font-family: $Montserrat;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #615855;
    }
  }
  .advertisement__buy-btn{
    @include default-button;
  }
}