@import "main__values";
.video{
  overflow: hidden;
  @include default-block;
  position: relative;
  .video__player{
    min-width: 1920px;
    min-height: 705px;
    object-fit: fill;
  }
  .video__overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    min-width: 1920px;
    min-height: 705px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .video__overlay__play{
      outline: none;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border-color: transparent;
      background-color: rgba(0,0,0,0.2);
      position: relative;
      padding: 0;
      margin: 210px 0 0 0;
      &:hover{
        cursor: pointer;
      }
      &::after{
        content: url("../img/main/video/video__play-btn.svg");
        position: absolute;
        width: 70px;
        height: 70px;
        top:13px;
        left:13px;
      }
    }
    .video__overlay__header{
      font-family: Raleway,sans-serif;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin: 0 0;
      padding: 38px 0 0 0;
      text-transform: capitalize;
      width: 390px;
    }
    .video__overlay__text{
      font-family: Montserrat,sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: 561px;
      margin: 0;
      padding:15px 0 28px 0;
    }
    .video__overlay__length{
      font-family: Montserrat,sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: #c7b299;
      margin: 0;
      padding: 0;
    }
    }
  .hidden{
    display: none;
  }
  }
